APP_ENV=local

MASTER_KEY=

HTTP_HOST=
HTTP_PORT=

DATABASE_URL=

JWT_SECRET=
JWT_TTL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

WEBHOOK_URL=

FRONTEND_URL=

NATS_URL=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=